<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>音韵学概论</string>
            <key>author</key>
            <string>麦耘</string>
        </dict>
        <dict>
            <key>name</key>
            <string>心理分析</string>
            <key>author</key>
            <string>荣格</string>
        </dict>
        <dict>

        <key>name</key>
        <string>音韵学概论</string>
        <key>author</key>
        <string>麦耘</string>
    </dict>
    <dict>
        <key>name</key>
        <string>心理分析</string>
        <key>author</key>
        <string>荣格</string>
    </dict>
</array>
</plist>
