<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>kitty</string>
            <key>tel</key>
            <string>120</string>
        </dict>
        <dict>
            <key>name</key>
            <string>fred</string>
            <key>tel</key>
            <string>121</string>
        </dict>
        <dict>
            <key>name</key>
            <string>jim</string>
            <key>tel</key>
            <string>122</string>
        </dict>
        <dict>
            <key>name</key>
            <string>chris</string>
            <key>tel</key>
            <string>123</string>
        </dict>
        <dict>
            <key>name</key>
            <string>kitty</string>
            <key>tel</key>
            <string>120</string>
        </dict>
        <dict>
            <key>name</key>
            <string>fred</string>
            <key>tel</key>
            <string>121</string>
        </dict>
        <dict>
            <key>name</key>
            <string>jim</string>
            <key>tel</key>
            <string>122</string>
        </dict>
        <dict>
            <key>name</key>
            <string>chris</string>
            <key>tel</key>
            <string>123</string>
        </dict>
        
        <dict>
            <key>name</key>
            <string>kitty</string>
            <key>tel</key>
            <string>120</string>
        </dict>
        <dict>
            <key>name</key>
            <string>fred</string>
            <key>tel</key>
            <string>121</string>
        </dict>
        <dict>
            <key>name</key>
            <string>jim</string>
            <key>tel</key>
            <string>122</string>
        </dict>
        <dict>
            <key>name</key>
            <string>chris</string>
            <key>tel</key>
            <string>123</string>
        </dict>
        
        <dict>
            <key>name</key>
            <string>kitty</string>
            <key>tel</key>
            <string>120</string>
        </dict>
        <dict>
            <key>name</key>
            <string>fred</string>
            <key>tel</key>
            <string>121</string>
        </dict>
        <dict>
            <key>name</key>
            <string>jim</string>
            <key>tel</key>
            <string>122</string>
        </dict>
        <dict>
            <key>name</key>
            <string>chris</string>
            <key>tel</key>
            <string>123</string>
        </dict>
        
        
    </array>
</plist>
